<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.abhi.animationsdemo">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.abhi.animationsdemo.MainActivity">

        </activity>
        <activity android:name="com.abhi.animationsdemo.SelectionActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.abhi.animationsdemo.TransistionActivity" />
        <activity android:name="com.abhi.animationsdemo.BasicAnimation" />
        <activity android:name="com.abhi.animationsdemo.activity.PhysicsAnimationActivity" />
        <activity android:name="com.abhi.animationsdemo.activity.ChainedSpringAnimationActivity" />
        <activity android:name="com.abhi.animationsdemo.activity.TranslateAndRotateSpringAnimationActivity" />
        <activity android:name="com.abhi.animationsdemo.activity.TranslateFlingAnimationActivity" />
        <activity android:name="com.abhi.animationsdemo.activity.TranslateSpringAnimationActivity" />
        <activity android:name=".activity.AnimationOneActivity" />
    </application>

</manifest>